body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: 5px;
    padding: 10px 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    border: 4px solid black;
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    --size: 3;
}

.grid-container .grid-item {
    aspect-ratio: 1/1;
    width: calc(100% / var(--size));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 255, 218);
    outline: 1px solid black;
}